.banner__imagem {
    background: url("https://images5.alphacoders.com/766/766889.jpg") no-repeat center / cover;
    object-position: 60% 0;
    width: 100%;

}

@media screen and (min-width: 0) {
    .banner__imagem {
        height: calc(100vh - 51px);
    }
}
@media screen and (min-width: 768px) {
    .banner__imagem {
        height: calc(100vh - 72px);
    }
}